<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>app Front end </title>
</head>
<body>
  <h1>welcome to capstone project  </h1>
  <h2>you have to log in first </h2>
    <a href="https://samehmahmoud.auth0.com/authorize?audience=http://Capestone_FSND&response_type=token&client_id=4gUerUrWL7Q8mVpbKotEsIeJPuyQV40G&redirect_uri=https://udacity-final-project.herokuapp.com/user-page"><button>Login</button></a>

    
</body>
</html>